extends ../layout/layout

block content
    
    -old = old || page

    .container
        .row
            .col
                .alert.alert-hollow
                    h1=old.title

                    include form