@import "fontawesome";
@import "solid";
@import "brands";

@import "chartist";

@import "_variables_override";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-toggle";

$transition: 0.2s ease-in-out;

@import "topbar";

// ---------------------------------------------------------------
// BODY
// ---------------------------------------------------------------

body {
  background-color: $gray-100;
}

.clear {
  clear: both;
}

// ---------------------------------------------------------------
// FONT
// ---------------------------------------------------------------

.big {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}

.huge {
  font-size: 8rem;
  font-weight: bold;
}

.text-overflow {
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

// ---------------------------------------------------------------
// ALERT
// ---------------------------------------------------------------

.alert-hollow {
  border: 1px solid $gray-400;
  background-color: $white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.no-overflow {
  overflow: hidden;
}

.alert-icon {
  position: absolute;
  right: 5;
  top: 5;
  pointer-events: none;
  font-size: 8rem;
  font-weight: bold;
}

.alert-hollow-link {
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;

    .alert-hollow {
      background-color: $gray-200;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
    }
  }

  .badge {
    font-weight: normal;
  }
}

// ---------------------------------------------------------------
// HEADERS
// ---------------------------------------------------------------

.h1-actions {
  float: right;
  margin-bottom: 0.5rem;
}

// ---------------------------------------------------------------
// LISTS
// ---------------------------------------------------------------

ul {
  &.inline {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
  }

  &.margin {
    li {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// ---------------------------------------------------------------
// TABLES
// ---------------------------------------------------------------

.actions {
  width: 1px;
  white-space: nowrap;
  text-align: right;
}

.table-no-head tr:first-child td {
  border-top: none;
}

.table th {
  border-top: none;
}

td.isWeekEnd {
  background-color: #f8f8f8;
}

td.isToday {
  background-color: theme-color-level("info", -10); // #d1ecf1; //#EEE
}

.table-hover-cells > tbody > tr > th:hover:not(.no-hover),
.table-hover-cells > tbody > tr > td:hover:not(.no-hover) {
  background-color: #f5f5f5;
}

.table-hover-cells > tbody > tr > th.active:hover:not(.no-hover),
.table-hover-cells > tbody > tr > td.active:hover:not(.no-hover),
.table-hover-cells > tbody > tr.active > th:hover:not(.no-hover),
.table-hover-cells > tbody > tr.active > td:hover:not(.no-hover) {
  background-color: #e8e8e8;
}

.table-hover.table-hover-cells > tbody > tr:hover > th:hover:not(.no-hover),
.table-hover.table-hover-cells > tbody > tr:hover > td:hover:not(.no-hover) {
  background-color: #e8e8e8;
}

.table-hover.table-hover-cells > tbody > tr.active:hover > th:hover:not(.no-hover),
.table-hover.table-hover-cells > tbody > tr.active:hover > td:hover:not(.no-hover) {
  background-color: #d8d8d8;
}

// ---------------------------------------------------------------
// BUTTONS
// ---------------------------------------------------------------

.btn-default {
  @include button-variant($gray-200, $gray-200);
}

// ---------------------------------------------------------------
// ICON
// ---------------------------------------------------------------

.icon-shadow {
  //text-shadow: 1px 1px 5px #000;
  -webkit-text-stroke: 2px #000;
}
