include ../components/mixins.pug
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/main.css')
    
    body
        include ../components/topbar
        include ../components/flash
        
        block content

        script(src="/js/index.js")
        script(src="/reload/reload.js")