extends ../layout/layout

block content
    .container
        .row
            .col
                .alert.alert-hollow
                    h1=t("people.title.new")

                    include form
        