extends ../layout/layout

block content
    .container
        .row
            .col
                h1 Day
                .row
                    if journalData.events.length
                        .col-md-6
                            include day_events
                    if journalData.expenses.length
                        .col-md-6
                            include day_expenses
                            